.header {
    border-bottom: 1px solid var(--line-color);


    &__main {
        position: relative;
        display: flex;
        }

}

.logo {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: #000000;
    text-decoration: none;

    padding-bottom: 25px;
    padding-top: 24px;

}

.word {
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: #2196F3;
    letter-spacing: 0.03em;

}

.navigation-logo {
    margin-right: 93px;

    @media screen and (min-width: 768px){
        margin-right: 87px;
    }
}

.navigation {
    display: flex;
    align-items: center;
}

.pages__details {
    display: none;
    align-items: center;
    justify-self: start;
    color: var(--main-text-color);

    @media screen and (min-width: 768px) {
            display: flex;
        }

        &:hover,
        &:focus {
            color: var(--main-accent-color);
        }
    
        &:not(:last-child) {
            margin-right: 50px;
            
        }
}

.mail-phone {
    fill: currentColor;
    margin-right: 10px;

}

.pages__list {
    display: flex;
    align-items: center;

}

.pages__item {
    display: block;
    position: relative;
    padding-top: 32px;
    padding-bottom: 32px;


    font-weight: 500;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: var(--main-titlet-color);

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus{
        color: var(--main-accent-color);
    }
}

.current::after {
    content: "";
    position: absolute;
    display: none;

    bottom: 0;
    left: 0;

    width: 100%;
    height: 4px;

    background: var(--main-accent-color);
    border-radius: 2px;
    opacity: 1;

    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);

    @media screen and (min-width: 768px){
        display: block;
    }
       
}

.current{
    color: var(--main-accent-color);

}

.contacts {
    display: block;
    align-items: center;
   
    
    @media screen and (min-width: 768px){
        padding-top: 21px;
        padding-bottom: 21px;
        margin-left: 96px;
    }

    @media screen and (min-width: 1200px){
       display: flex;
        align-items: center;
        margin-left: auto;
        padding-top: 0;
        padding-bottom: 0;
    }

}

.contacts .pages__details{
    @media screen and (min-width: 768px){
        margin-right: 0;
        margin-bottom: 10px;
        align-items: center;
    }

        @media screen and (min-width: 1200px){
            margin-right: 30px;
            margin-bottom: 0px;
        }
}

.contact {
    display: flex;
    align-items: center;
    
    font-weight: 500;
    font-size: 12px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    color: var(--main-text-color);
    

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);


        @media screen and (min-width: 1200px) {
            margin-bottom: 0px;
            font-size: 14px;
            line-height: 1.14;
    
        }
 
    &:hover,
    &:focus {
            color: var(--main-accent-color);
        }

}

.contact:not(:last-child){
    @media screen and (min-width: 768px){
        margin-bottom: 10px;
    }
}


.navigation__details{
    position: absolute;
    top:100%;
    left: 0;
    width: 100%;
}

.menu-open {
    display: block;
    
    width: 40px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    
    @media screen and (min-width: 768px) {
            display: none;
        }

}
.menu-open:hover,
.menu-open:focus {
    cursor: pointer;
    color: #2196F3;
}

.menu-open {
    fill: currentColor;
}

.mob-menu {
    position: fixed;
    top: 0;
    left: 0;
    background-color: #ffffff;
    width: 480px;
    height: 796px;
    z-index: 1;
    padding-top: 10px;
    padding-bottom: 10px;

    >.container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        overflow: auto;
    }

    @media screen and (min-width: 768px) {
        display: none;
    }
}

.menu-close{
    display: block;
    
    width: 40px;
    margin-left: auto;
    padding: 0;
    border: none;
    background-color: transparent;
    fill: currentColor;
}

.menu-close:hover,
.menu-close:focus{
    cursor: pointer;
    fill: #2196F3;
}
.menu-close{
    fill: currentColor;
}

.mob-menu__item--link:hover,
.mob-menu__item--link:focus{
    color: #2196F3;
}

.mob-menu__item{
    font-weight: 500;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
    
    color: #212121;

        &:hover,
        &:focus {
            color: #2196F3;
        }

}

.mob-menu__item--link--current{
    color: #2196F3;
    font-size: 40px;
    line-height: 1.17;
    letter-spacing: 0.02em;
}

.contacts-menu--link--current{
    font-size: 34px;
    line-height: 1.17;
     letter-spacing: 0.02em;
    
     color: #2196F3;
}

.mob-menu__details:not(:last-child){
    margin-bottom: 32px;
}

.contacts-menu{
    font-size: 24px;
    line-height: 1.16;
    letter-spacing: 0.02em;
    
    color: #757575;
    margin-top: 302px;
    margin-bottom: 64px;

    @media screen and (min-width: 480px){
        font-size: 34px;
    }

        &:hover,
        &:focus {
            color: #2196F3;
        }
}

.contacts-menu__details:not(:last-child){
    margin-bottom: 32px;
}
.menu-social__details{
    display: flex;
}

.menu-social__details{
    position: relative;
}

.menu-social:not(:last-child):after{
    content: '';
    width: 22px;
    height: 0px;
    margin-right:10px;
    margin-left: 10px;
    
    border: 1px solid rgba(33, 33, 33, 0.2);
    transform: rotate(90deg);

}

.mob-soc__link{
    font-weight: 500;
    font-size: 13px;
    line-height: 1.22;
    letter-spacing: 0.02em;
    
    color: #2196F3;

    @media screen and (min-width: 480px) {
            font-size: 18px;
        }
    
}