footer {
    background-color: #2F303A;
    padding-top: 60px;
    padding-bottom: 60px;
}

.main-footer {
    display: flex;
    align-items: baseline;
}

.footer-logo {
    display: flex;
    align-items: center;
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.20;
    color: var(--main-background);
    letter-spacing: 0.03em;
    text-decoration: none;
}

.adress {
    display: flex;
    align-items: center;
    margin-top: 20px;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &-street {
        font-style: normal;
        font-weight: 400;
        font-size: 14px;
        line-height: 1.71;
        letter-spacing: 0.03em;
        color: var(--main-background);

        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

    &-street:hover,
    &-street:focus {
        color: var(--main-accent-color);
    }
}

.contact-info:not(:last-child) {
    margin-bottom: 9px;
}

.adress-mail {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        color: var(--main-accent-color);
    }
}


.adress-phone {
    font-style: normal;
    line-height: 1.71;
    color: rgba(255, 255, 255, 0.6);

    &:hover,
    &:focus {
        color: var(--main-accent-color);
    }
}

.join {
    font-weight: 700;
    line-height: 1.14;
    text-transform: uppercase;

    color: var(--main-background);

    &-footer {
        margin-left: 70px;
    }
}

.soc-main {
    display: flex;
    margin-top: 20px;
}


.social-networks-list {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 44px;
    height: 44px;
    border-radius: 50%;
    background: rgba(255, 255, 255, 0.1);
    color: #FFFFFF;

    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover,
    &:focus {
        background-color: var(--main-accent-color);
    }
}

.soc-list:not(:last-child) {
    margin-right: 10px;
}

.social-networks {
    fill: currentColor;
}

.footer-form {
    position: relative;
    margin-left: 93px;
    background-color: var(--color-section);

    & label {
        position: relative;
        font-weight: 700;
        font-size: 14px;
        line-height: 1.14;
        text-transform: uppercase;

        color: var(--main-background);
    }
}

.footer-input-details {
    display: flex;
    flex-direction: column;
    width: 358px;
    height: 50px;

    padding-left: 16px;
    margin-top: 20px;
    margin-right: 12px;
    background-color: var(--color-section);
    border: 1px solid rgba(255, 255, 255, 0.3);
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    outline: transparent;
    border-radius: 4px;

    &:focus {
            border-color: rgba(33, 150, 243, 1);
            outline: transparent;
        }

                &::placeholder {
                    font-weight: 400;
                    font-size: 16px;
                    line-height: 1.25;
        
                    color: rgba(255, 255, 255, 0.6);
                }
}






.footer-button {
    position: absolute;
    bottom: 0;
    right: 0;

    transform: translateX(100%);

    display: flex;
    align-items: center;
    width: 200px;
    padding: 10px 28px;


    font-family: var(--main-font);
    font-weight: 700;
    font-size: 16px;
    line-height: 1.87;
    text-align: center;
    color: var(--main-background);
    letter-spacing: 0.06em;
    background-color: var(--main-accent-color);
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
    cursor: pointer;
    border: none;
}

.footer-button-icon {
    fill: var(--main-background);
    margin-left: 10px;

}

