.work {
    padding-bottom: 94px;
}


.work__item {
    display: flex;
}

.work__photo {
    display: block;

    &:not(:last-child) {
            margin-right: 30px;
        }
}

.img {
    display: block;
    position: relative;
}

.work__title {
    margin-bottom: 50px;

    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--main-titlet-color);
}

.work__info {
    display: block;
    position: absolute;

    left: 0;
    bottom: 0;
    width: 100%;

    background-color: rgba(47, 48, 58, 0.8);
    padding: 27px 0;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.14;
    text-align: center;
    text-transform: uppercase;

    color: var(--main-background);
}