:root {
    --main-background: #FFFFFF;
    --main-font: 'Roboto', sans-serif;
    --main-titlet-color: #212121;
    --main-text-color: #757575;
    --main-accent-color: #2196F3;
    --main-photo-background: #EEEEEE;
    --second-logo-color: #000000;
    --button-color: #F5F4FA;
    --color: #FFFFFF 60 %;
    --color-section: #2F303A;
    --line-color: #ECECEC;
}